/* PRESENTATION General properties */
.aboutus{
  background-color: white;
}
.aboutus h5{
  color: rgba(159,204,185, 1);
}
.aboutus p{
  color: #000;
}
.projectTitle h3{
  font-size: 30px;
  padding: 50px 50px 50px 60px;
  text-transform: uppercase;
  margin: 0px;
}

  /*
  *  Especific properties for 500px max resolution of screen 
  */
  @media screen and (max-width: 500px) {

    /*   presentation content    */
    article{
      width: 100%;
    }
    article h5{
      margin-left: 20px;
      font-size: 20px;
      padding-top: 20px;
    }
    .projectTitle h3{
      padding: 20px 50px 20px 60px;
    }
    .aboutus p{
      padding: 15px;
    }
    .aboutus li{
      padding: 0px 15px 0px 15px;
    }
    .team a{
      text-decoration: none;
      color: rgba(8, 143, 143, 1);
      width: 100%;
      text-align: center;
      padding: 15px;
      font-size: 25px;
    }
    .team img{
      width: 100%;
      max-width: 100%;
      height: auto;
    }
    .nuestraLabor p{
        margin: 20px;    
        font-size: 20px;
    }
    .nuestraLabor img{
        width: -webkit-fill-available;
        vertical-align: middle;
        height: 100px;
        margin-top: 20px;
    }
  }
  
  /*
  *  Especific properties for 500px min resolution of screen 
  */
  @media screen and (min-width: 500px) {
    
    /*   presentation content    */
    .aboutus{
      width: 70%;
      margin: 0px 10px 0px 15%;
      padding: 40px;
      float: left;
    }
    .projectTitle{
      height: 100px;
    }
    .aboutus h5{
      margin: 3% 0px 0px 5%;
      font-size: 20px;
      height: 50px;
      width: 80% ;
      text-decoration: none;
    }
    .aboutus p{
        margin: 0px;
        width: 100%;
    }
    .team{
      padding-top: 0px;
      height: 50%;
    }
    .team div{
      width: 20%;
      height: 250px;
      float: left;
      margin: 15px;
    }
    .team img{
      width: 100%;
      height: auto;
    }
    .team a{
      text-decoration: none;
      color: rgba(8, 143, 143, 1);
      width: 100%;
      text-align: center;
      padding-left: 50px;
    }
    .team p{
      text-align: center;

    }
    .techIcons{
      margin: 0px !important;
      width: 100% !important;
      height: 80px;
    }
    .techIcons img{
      width: 80px ;
      height: 40px;
      margin: 5px;
      float: left;
    }
    .quadrat{
      width: 40px !important;
      height: 40px !important;
    }
    .techTitols{
      width: 100%;
      text-transform: uppercase;

    }
    .weoffer{
      width: 35%;
      padding: 20px;
      border: 2px solid gray;
      height: 600px;
      margin: 0px 0px 50px 15%;
    }
    .mm{
      margin: 0px !important;
      width: 34.7%;
    }
   
  }
