/* PRESENTATION General properties */
.project{
  width: 100%;
  border-top: solid;
  border-color: gray;
  background-color: rgba(255,255,255, 1);
}

.project h5{
  color: rgba(159,204,185, 1);
  float: left;
}
.project p{
  color: #000;
  float: left;
}
.projectTitle h3{
  font-size: 30px;
  padding: 50px 50px 50px 60px;
  text-transform: uppercase;
  margin: 0px;
}

  /*
  *  Especific properties for 500px max resolution of screen 
  */
  @media screen and (max-width: 500px) {

    /*   presentation content    */
    .projectTitle h3{
      padding: 20px 50px 20px 60px;
    }
    .project{
      width: 100%;
      height: 870px;
    }
    .project h5{
      margin-left: 20px;
      font-size: 20px;
    }
    .project img{
      width: 100%;
      max-width: 100%;
      height: auto;
    }
    .project p{
      padding: 15px;
      margin: 0px;
    }
    .techIcons{
      padding: 0px 15px 0px 15px;
      margin-top: 0px !important;
    }
    .techIcons p{
      padding: 0px 15px 0px 15px;
      margin-top: 0px !important;
    }
    .techIcons img{
      width: 20%;
      height: auto;
    }
    .nuestraLabor p{
        margin: 20px;    
        font-size: 20px;
    }
    .nuestraLabor img{
        width: -webkit-fill-available;
        vertical-align: middle;
        height: 100px;
        margin-top: 20px;
    }
  }
  
  /*
  *  Especific properties for 500px min resolution of screen 
  */
  @media screen and (min-width: 500px) {
    
    /*   presentation content    */
    .project{
      height: 400px;
    }
    .projectTitle{
      height: 100px;
    }
    .project h5{
      margin: 50px 0px 0px 10%;
      font-size: 20px;
      height: 50px;
      width: 20% ;
      text-decoration: none;
    }
    .project img{
        width: 25%;
        height: 350px;
        float: right;
        margin-right: 10%;
        margin-top: 1%;
    }
    .project p{
        margin: 0px 0px 0px 10%;
        width: 35%;
        height: 200px;
    }
    .techTitle{
      width: 10% !important;
      margin-left: 20% !important;
    }
    .techIcons{
      width: 15% !important;
      margin: 0px 0px 20px 50px !important;
      width: 10% !important;
      
    }
    .techIcons img{
      width: 80px ;
      height: 40px;
      margin: 5px;
      float: left;
    }
    .quadrat{
      width: 40px !important;
      height: 40px !important;
    }
  }
